main{
    color:black
}

.background-home{
    height: 110vh;
    background-color:#F7B05B;
    margin-top: 3em;
}

.background-about{
    height: 100vh;
    background-color:#85BAA1;
}

.background-projects{
    height: 120vh;
    background-color:#AB3428;
}

.background-contact{
    height: 20vh;
    background-color:#1F271B;
    color: white;
}

.projects-wrapper--flex > .projects_card--flex{
    margin: 1rem;
}

.projects-wrapper--flex-top{
    margin: 1rem;
    margin-top: 5%;
}

.container-fluid{
    background-color:cornflowerblue;
    border: 1px solid black;
}

.pic-of-me{
    max-width: 110%;
    max-height: 110%;
    border: 5px solid black;
    border-radius: 50%;
}

h1 {
    text-align: center;
    padding-top: 1rem;
}

p {
    text-align: center;
}

h6 {
    text-align: center;
}

h2 {
    text-align: center;
}

.home-text{
    float: right;
    width: 25%;
    margin-top: 5%;
    margin-right: 20%;
}

.home-image{
    float: left;
    width: 25%;
    margin-top: 5%;
    margin-left: 15%;
}

